*.py[co]
__pycache__*

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
MANIFEST

# PyCharm
.idea/*
.idea/libraries/sass_stdlib.xml

# Distribution
dist/*

# Mac stuff
.DS_Store

docs/_build*

.test_config

.tox
.cache

tests/*
!tests/__init__.py
!tests/config.py
!tests/test_cloudy.py

tests/data/*
!tests/data/hello.txt
!tests/data/hello.js

tests/container_1/*
!tests/container_1/empty
