<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Flask-Cloudy</title>
</head>
<body>

<h1>Flask-Cloudy: View File</h1>
<a href="{{ url_for('index') }}"><- Home</a>
<br> <br>

Name: {{ obj.name }} <br><br>
Size: {{ obj.size }} bytes <br><br>

Short url: {{ obj.short_url }} <br><br>

View file: <a href="{{ obj.url }}">{{ obj.url }}</a> <br><br>

{% set download_url = obj.download_url() %}
Download: <a href="{{ download_url }}">{{ download_url }}</a> <br><br>
</body>
</html>